
{{!-- main page content --}}
<div class="container">
  <div class="row">
    <div class="col s12" id="newCustomerSection">
      <h5>New Users</h5>
      {{!-- button for new customer --}}
      <p><button data-target="createAccountModal" class="btn modal-trigger" id="newUserBtn">Create Account</button></p>
    </div>
  </div>
  <div class="divider"></div>
  {{!-- existing user section --}}
  <div class="row">
    <h5>Existing Users</h5>
    {{!-- form input section and submit button --}}
    <form class="col s12 offset-s2">
      <div class="row">
        <div class="input-field col s8">
          <input id="loginEmail" type="text" class="validate" required="" aria-required="true">
          <label for="loginEmail">Email</label>
          <span class="helper-text" data-error="Required"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field inline col s6">
          <input id="loginPassword" type="password" class="validate" required="" aria-required="true">
          <label for="loginPassword">Password</label>
          <span class="helper-text" data-error="Required"></span>
        </div>
        <div class="input-field inline col s6">
          <label>
            <input type="checkbox" id="showPassword" class="filled-in" />
            <span>Show Password</span>
          </label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" id="loginSubmit" name="action">Login</button>
    </form>
  </div>
</div>

{{!-- modal for new account creation --}}
<div id="createAccountModal" class="modal">
  <div class="modal-content">
    <h4 class="modalHeader">Create New Account</h4>
  <div class="row" id="custSelectTypeSection">
    {{!-- determines which forms shows --}}
    <div class="input-field col s12">
      <select id="userType">
        <option value="0" disabled selected>What Best Describes You?</option>
        <option value="customer">Customer</option>
        <option value="artist">Tattoo Artist</option>
      </select>
    </div>
  </div>

  {{!-- this form is for all users to create an account --}}
  <form id="allUsersInfo">
      <div class="row">
        <div class="input-field col s6">
          <input id="firstNameCreate" type="text" class="validate" required="" aria-required="true">
          <label for="firstNameCreate">First Name</label>
          <span class="helper-text" data-error="Required"></span>
        </div>
        <div class="input-field col s6">
          <input id="lastNameCreate" type="text" class="validate" required="" aria-required="true">
          <label for="lastNameCreate">Last Name</label>
          <span class="helper-text" data-error="Required"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="phoneNumberCreate" type="text" class="validate" required="" aria-required="true">
          <label for="phoneNumberCreate">Phone Number</label>
          <span class="helper-text" data-error="Required"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="emailCreate" type="email" class="validate" required="" aria-required="true">
          <label for="emailCreate">Email</label>
          <span class="helper-text" data-error="Required"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="passwordCreate" type="text" class="validate" required="" aria-required="true">
          <label for="passwordCreate">Password</label>
          <span class="helper-text" data-error="Required"></span>
        </div>
      </div>
    </form>
    {{!-- form that contains all info for an artist account --}}
    <form id="artistOnlyInfo">
      <div class="row">
        <div class="input-field col s6">
          <input id="locationNameCreate" type="text" class="validate required="" aria-required="true"">
          <label for="locationNameCreate">Location Name</label>
          <span class="helper-text" data-error="Required"></span>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="streetCreate" type="text" class="validate" required="" aria-required="true">
            <label for="streetCreate">Street</label>
            <span class="helper-text" data-error="Required"></span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="cityCreate" type="text" class="validate" required="" aria-required="true">
            <label for="cityCreate">City</label>
            <span class="helper-text" data-error="Required"></span>
          </div>
          <div class="input-field col s2">
            <input id="stateCreate" type="text" class="validate" required="" aria-required="true">
            <label for="stateCreate">State</label>
            <span class="helper-text" data-error="Required"></span>
          </div>
          <div class="input-field col s2">
            <input id="zipCreate" type="number" class="validate" required="" aria-required="true">
            <label for="zipCreate">Zip</label>
            <span class="helper-text" data-error="Required"></span>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <select id="specializationCreate">
              <option value="" disabled selected>Choose one...</option>
              <option value="3D">3D</option>
              <option value="abstract">Abstract</option>
              <option value="amTraditional">American Traditional</option>
              <option value="biomechanical">Biomechanical</option>
              <option value="celtic">Celtic</option>
              <option value="chicano">Chicano</option>
              <option value="geometric">Geometric</option>
              <option value="hawaiian">Hawaiian/Maori/Polynesian</option>
              <option value="hyperRealistic">Hyper Realistic</option>
              <option value="japanese">Japanese</option>
              <option value="paintBrushStroke">Paint Brush Stroke</option>
              <option value="popArt">Pop Art</option>
              <option value="surrealism">Surrealism</option>
              <option value="tribal">Tribal</option>
              <option value="watercolor">Watercolor</option>
            </select>
            <label for="specializationCreate">What is your Specialization?</label>
            {{!-- <input id="specializationCreate" type="text" class="validate" required="" aria-required="true">
            <span class="helper-text" data-error="Required"></span> --}}
          </div>
          <div class="input-field col s12 m6">
            <select id="pricingCreate">
              <option value="" disabled selected>Choose one...</option>
              <option value="perHour">Per Hour</option>
              <option value="byPiece">By Piece</option>
            </select>
            <label for="pricingCreate">What is your Pricing Structure?</label>
            {{!-- <input id="pricingCreate" type="text" class="validate" required="" aria-required="true">
            <span class="helper-text" data-error="Required"></span> --}}
          </div>
        </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn waves-effect waves-light" type="submit" id="createAcctSubmit" name="action">Create Account</button>
    <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="createAcctCancel">Cancel</a>
  </div>
</div>